@font-face {
  font-family: "Sharp Sans";
  font-style: normal;
  font-weight: bold;
  src: local("Sharp Sans Bold"),
    url("../assets/fonts/SharpSansBold.woff") format("woff");
}

/* Add this to your global style sheet or in the component's CSS module */
@keyframes shimmer {
  0% {
    background-position: -40rem 0;
  }

  100% {
    background-position: 40rem 0;
  }
}

.shimmer-effect {
  animation: shimmer 2s linear infinite;
  background: linear-gradient(to right, #eff1f3 8%, #f6f7f8 18%, #eff1f3 33%);
  background-size: 80rem 100%;
}

#select-country .MuiPaper-root {
  border: 1px solid #eaeffc;
  border-radius: 6px;
  box-shadow: none;
  max-height: 210px;
  transform: translateY(4px) !important;
}
